<td>{{index}}</td>
<!-- <td>{{assetOffer.assetId}}</td> -->
<td>{{assetOffer.assetCode}}</td>
<td>{{assetOffer.name}}</td>
<td>{{assetOffer.legalEntityId | investmentVehicleName }}</td>
<td>{{assetOffer.startDate | date:'dd/MM/yyyy' }}</td>
<td>
  <div *ngIf="!isEditing; else pickDate">
    {{assetOffer.endDate | date:'dd/MM/yyyy' }}
  </div>
  <ng-template #pickDate>
    <p-calendar [(ngModel)]="assetOffer.endDate" [showIcon]="true"></p-calendar>
  </ng-template>
</td>
<td>
  <div *ngIf="!isEditing; else editing">
    <div *ngIf="!assetOffer.endDate; else activateButton">
      <button class="btn" (click)="onClickDeactivateOffer()">Deactivate Offer</button>
    </div>

    <ng-template #activateButton>
      <button class="btn" (click)="onClickActivateOffer()">Activate Offer</button>
    </ng-template>
  </div>

  <ng-template #editing>
    <div class="btn-toobar" role="toolbar" aria-label="Basic example">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button class="btn" (click)="onClickSave()">Save</button>
        </div>

      <div class="btn-group mr-2" role="group" aria-label="First group">
          <button class="btn" (click)="onClickCancel()">Cancel</button>
      </div>
    </div>
  </ng-template>

</td>
<td>
  <div *ngIf="model">{{model.day}}</div>
</td>