<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <!-- <th scope="col">AssetId</th> -->
          <th scope="col">AssetCode</th>
          <th scope="col">AssetName</th>
          <th scope="col">InvestmentVehicle</th>
          <th scope="col">StartDate</th>
          <th scope="col">EndDate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assetOffer of assetOffers; index as i" [app-asset-offer-item]="assetOffer" [itemIndex]="i"></tr>
      </tbody>
    </table>
  </div>
</div>