<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">OneTrust V2 Maintenance</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/asset-offer">Asset Offer</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/other-routine">Other Routine</a>
        </li>
      </ul>
      <div>
        <!-- <p-button (onClick)="TestHttp()" label="TestHttp"></p-button> -->
      </div>
      <!-- <div>
        <label>account is:</label>
      </div> -->
      <!-- <div *ngIf="account">
        <label>{{account.simAccountNumber}}</label>
      </div> -->
    </div>
  </div>
</nav>